<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{houseKillCount.houseName}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{houseKillCount.houseCoa}}"  alt="photo of GoT's houses">
  <mat-card-content>
    <div class="container">

      <div class="row">
        <div class="col-sm">
          <h1> <em>"{{houseKillCount.houseWords}}"</em></h1>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="row">
        <div class="col-sm">
          <h2> <b>Religion</b></h2>
        </div>
        <div class="col-sm">
          <b> {{houseKillCount.houseReligion}} </b>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="row">
        <div class="col-sm">
          <h2> <b>Lord</b></h2>
        </div>
        <div class="col-sm">
          <b> {{houseKillCount.houseLord}} </b>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <h2> <b>Seat</b></h2>
        </div>
        <div class="col-sm">
          <b> {{houseKillCount.houseSeat}} </b>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="row">
        <div class="col-sm">
          <h2> <b>Active</b></h2>
        </div>
        <div class="col-sm">
          <b> {{houseKillCount.status}} </b>
        </div>
      </div>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
