<div class="container">

  <h3 class="details-title"> {{ locationMainInfo.locationName }} Details </h3>
  <p>
    In questa sezione è possibile osservare le informazioni riguardanti il numero di scene e di morti nella location
    selezionata divise per stagioni.
  </p>

  <div class="row">
    <div class="col-sm">
      <app-loc-season-range></app-loc-season-range>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <h3> Number of deaths per season </h3>
      <app-season-count-table
        *ngIf="seasonDeathCounts"
        [dataSource]="seasonDeathCounts">
      </app-season-count-table>

      <button (click)="isSceneChart = false; isDeathChart = true"> CREATE GRAPH </button>
    </div>
    <div class="col-sm">
      <app-line-chart
        *ngIf="isDeathChart"
        [chartData]="onGraphButtonPressed(this.seasonDeathCounts)"
        [title]="'Death Count'"
        [xLabel]="'Seasons'"
        [yLabel]="'Death'">
      </app-line-chart>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <h3> Number of scenes per season </h3>

      <app-season-count-table
        *ngIf="seasonSceneCounts"
        [dataSource]="seasonSceneCounts">
      </app-season-count-table>

      <button (click)=" isDeathChart = false; isSceneChart = true"> CREATE GRAPH </button>
    </div>
    <div class="col-sm">
      <app-line-chart
        *ngIf="isSceneChart"
        [chartData]="onGraphButtonPressed(this.seasonSceneCounts)"
        [title]="'Scene Count'"
        [xLabel]="'Seasons'"
        [yLabel]="'Scene'">
      </app-line-chart>
    </div>
  </div>
</div>
