<h3> {{ locationMainInfo.locationName }} Details </h3>
<p>
  In questa sezione è possibile osservare le informazioni riguardanti il numero di scene e di morti nella location
  selezionata divise per stagioni.
</p>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h5> Deaths </h5>

      <div *ngIf="seasonDeathCounts">
        <div *ngFor="let loc of seasonDeathCounts">
          {{ loc.season }} {{ loc.count }}
        </div>
      </div>

      <button (click)="isDeathChart = true"> CREATE GRAPH </button>
    </div>
    <div class="col-sm">
      <app-line-chart
        *ngIf="isDeathChart"
        [chartData]="onDeathGraphButtonPressed()"
        [title]="'Death Count'"
        [xLabel]="'Seasons'"
        [yLabel]="'Death'">
      </app-line-chart>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <h5> SCENE </h5>

      <div *ngIf="seasonSceneCounts">
        <div *ngFor="let loc of seasonSceneCounts">
          {{ loc.season }} {{ loc.count }}
        </div>
      </div>

      <!-- <button (click)="this.sceneChartIsVisible = true"> CREATE GRAPH </button> -->
    </div>
    <div class="col-sm">

    </div>
  </div>
</div>
