<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- First column definition -->
  <ng-container matColumnDef="season">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Season </th>
    <td mat-cell *matCellDef="let count"> {{ count.season }} </td>
  </ng-container>
  <!-- Second column definition -->
  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
    <td mat-cell *matCellDef="let count"> {{ count.count }} </td>
  </ng-container>

  <!-- Standard row definition -->
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row
      class="example-element-row"
      *matRowDef="let count; columns: columnsToDisplay">
  </tr>
</table>
