<!-- Per aggiungere link occorre aggiungere la proprietà [routerLink] al tag del link
  per specificare il path navigazionale, occorre andare nel lyout.module.ts
  e aggiungere un path in "import" sotto "RouterModule" -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    Navigation bar
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/characters'] ">Characters</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/houses']">Houses</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">Seasons</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Season 1</a>
          <a class="dropdown-item" href="#">Season 2</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/seasons']">Seasons</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/locations']">Locations</a>
      </li>
    </ul>
  </div>
</nav>
