<div class="container">
  <div class="row">
    <div class="col-sm">
      <app-character-card
        *ngIf="characterSelected"
        [characterSelected]="characterSelected">

      </app-character-card>
    </div>
    <div class="col-sm">
      <app-kills-card
        *ngIf="categoriesFound && peopleFound"
        [categoriesKillCount]="categoriesKillCount"
        [killedPersons]="killedPersons">
      </app-kills-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <app-character-graph
        *ngIf="characterSelected"
        [characterMainInfo]="characterSelected">
      </app-character-graph>
    </div>
  </div>
</div>
